*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 62.5%;        /* so, 10px = 1rem */
}

button#refresh{
    color: #000000;
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    background: none repeat scroll 0% 0% #ffffff;
    border: 0.1rem solid #cccccc;
    border-radius: 50%;
    padding: 0.5rem;
    outline: medium none;
    display: block;
    line-height: 0;
    left: 50%;
    position: absolute;
    bottom: 1rem;
    margin-left: -1.5rem;
    box-shadow: 0rem 0.2rem 0.5rem 0rem grey;
}

#map-canvas{
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
